<footer >
  <div id="iconos">

  <a href="https://www.facebook.com" target="_blank" class="facebook"><img src="/assets/facebook.png"></a>
  <a href="https://twitter.com/memolop10?lang=es" target="_blank" class="twitter"><img src="/assets/gorjeo.png" alt=""></a>
  <a href="https://www.instagram.com/memolop10/?hl=es-la" target="_blank" class="instagram"><img src="/assets/instagram.png" alt=""></a>
  <a href="https://www.youtube.com/user/clinicadefutbol" target="_blank" class="youtube"><img src="/assets/youtube.png" alt=""></a>

</div>
</footer>


